{
  "openapi": "3.1.0",
  "info": {
    "title": "Lingara API",
    "version": "2026-10-golden-remora",
    "description": "Generate vocabulary lists and lesson plans, and hold tutor conversations, in the languages Lingara teaches. Each call is paid for by the client that makes it: an `allowance` client spends its owner's allowance, and a `metered` client is billed for its usage.",
    "x-lingara-view": {
      "source": "backend@de35d01dd19e4ae8c6d576715a555a14d4370659",
      "from": "3.2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.getlingara.com"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "vocabulary",
      "description": "Generate vocabulary lists at a learner's level."
    },
    {
      "name": "lesson-plans",
      "description": "Create lesson plans, read them, and reconnect to one that is still generating."
    },
    {
      "name": "tutor",
      "description": "Hold a conversation with the language tutor, one turn at a time."
    },
    {
      "name": "events",
      "description": "Read the events that happen in your account, page by page or as a stream."
    },
    {
      "name": "embed",
      "description": "Vouch for your game's or site's players, and remove them."
    },
    {
      "name": "account",
      "description": "See how much of your allowance is left."
    },
    {
      "name": "reference",
      "description": "This document, in machine-readable form."
    }
  ],
  "paths": {
    "/v1/lesson-plans/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/LingaraVersion"
        }
      ],
      "get": {
        "operationId": "getLessonPlan",
        "tags": [
          "lesson-plans"
        ],
        "summary": "Get a lesson plan",
        "description": "Returns a lesson plan you own. A plan that is still generating has no `content` yet.",
        "security": [
          {
            "oauth2": [
              "lesson_plans:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PlanId"
          }
        ],
        "responses": {
          "200": {
            "description": "The lesson plan",
            "headers": {
              "Lingara-Version": {
                "$ref": "#/components/headers/LingaraVersion"
              },
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LessonPlan"
                },
                "example": {
                  "id": "3f1c2a9e-5b7d-4e21-9a0c-6d8e4f2b1a37",
                  "status": "complete",
                  "title": "At the night market",
                  "source_lang": "en",
                  "target_lang": "zh",
                  "level": 2,
                  "created_at": "2026-09-23T10:00:00Z",
                  "completed_at": "2026-09-23T10:00:41Z",
                  "ai_generated": true,
                  "content": {
                    "introduction": "Order food and ask prices at a night market.",
                    "learning_objectives": [
                      "Ask how much something costs"
                    ],
                    "vocabulary": [
                      {
                        "word": "多少钱",
                        "pronunciation": "duōshao qián",
                        "translation": "how much"
                      }
                    ],
                    "sets": [
                      {
                        "number": 1,
                        "questions": [
                          {
                            "type": "multiple_choice_word",
                            "prompt": "Which word asks for a price?",
                            "options": [
                              "多少钱",
                              "谢谢"
                            ],
                            "answer": "多少钱",
                            "explanation": "多少钱 means how much money."
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/VersionDiscontinued"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/usage": {
      "parameters": [
        {
          "$ref": "#/components/parameters/LingaraVersion"
        }
      ],
      "get": {
        "operationId": "getUsage",
        "tags": [
          "account"
        ],
        "summary": "Get your remaining allowance",
        "description": "Lists each allowance that applies to your account, with how much is used and when it resets.",
        "security": [
          {
            "oauth2": [
              "usage:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Your allowance",
            "headers": {
              "Lingara-Version": {
                "$ref": "#/components/headers/LingaraVersion"
              },
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usage"
                },
                "example": {
                  "allowance": [
                    {
                      "feature": "vocab",
                      "window": "daily",
                      "limit": 50,
                      "used": 12,
                      "remaining": 38,
                      "reset_at": 1790208000
                    },
                    {
                      "feature": "lesson_plans",
                      "window": "lifetime",
                      "limit": 3,
                      "used": 1,
                      "remaining": 2
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/VersionDiscontinued"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/events": {
      "parameters": [
        {
          "$ref": "#/components/parameters/LingaraVersion"
        }
      ],
      "get": {
        "operationId": "listEvents",
        "tags": [
          "events"
        ],
        "summary": "List events",
        "description": "Returns the events your client can see, a page at a time, oldest first. Send `next_cursor` back as `cursor` to continue.",
        "security": [
          {
            "oauth2": [
              "events:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EventCursor"
          },
          {
            "$ref": "#/components/parameters/EventStart"
          },
          {
            "$ref": "#/components/parameters/EventTypes"
          },
          {
            "$ref": "#/components/parameters/EventLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of events and the cursor to continue from",
            "headers": {
              "Lingara-Version": {
                "$ref": "#/components/headers/LingaraVersion"
              },
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventPage"
                },
                "example": {
                  "items": [
                    {
                      "id": "lgr_evt_4f2a9c1e7b3d4e5f8a9b0c1d2e3f4a5b",
                      "type": "lesson_plan.ready",
                      "created_at": "2026-10-01T09:12:44Z",
                      "api_version": "2026-09-equipped-boxfish",
                      "subject": "lgr_sub_0f1e2d3c4b5a69788796a5b4c3d2e1f0",
                      "data": {
                        "plan_id": "3f1c2a9e-5b7d-4e21-9a0c-6d8e4f2b1a37",
                        "status": "complete",
                        "title": "At the night market",
                        "source_lang": "en",
                        "target_lang": "zh",
                        "level": 2
                      }
                    }
                  ],
                  "next_cursor": "djEuNzQ0MTIuOTkxLjE3OTAyNDk1NjQ",
                  "has_more": false
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/Gone"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "sendEvent",
        "tags": [
          "events"
        ],
        "summary": "Send an event",
        "description": "Tells Lingara what happened in your game, such as the learner entering a new place. The event is recorded once and answered with `202`. With `generate: true` Lingara also starts a lesson plan, which needs `lesson_plans:write` and is limited and billed like `POST /v1/lesson-plans`: `reaction` names the plan, and `lesson_plan.ready` or `lesson_plan.failed` follows. Describe the world, never a player's name or chat. A `world.practice_completed` event reports how the learner did on items of a lesson plan they own; it never starts a plan, and Lingara sends you `practice.completed` with the same items.",
        "security": [
          {
            "oauth2": [
              "events:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "examples": {
                "worldContextChanged": {
                  "value": {
                    "type": "world.context_changed",
                    "data": {
                      "scene": "A night market in Taipei, just after rain",
                      "npc": {
                        "name": "Auntie Lin",
                        "persona": "a street-food vendor who likes to haggle"
                      },
                      "source_lang": "en",
                      "target_lang": "zh",
                      "level": 3,
                      "tags": [
                        "market",
                        "food",
                        "chapter-2"
                      ],
                      "generate": true
                    }
                  }
                },
                "worldPracticeRequested": {
                  "value": {
                    "type": "world.practice_requested",
                    "data": {
                      "topic": "Asking for directions",
                      "source_lang": "en",
                      "target_lang": "zh",
                      "level": 2
                    }
                  }
                },
                "worldPracticeCompleted": {
                  "value": {
                    "type": "world.practice_completed",
                    "data": {
                      "plan_id": "3f1c2a9e-5b7d-4e21-9a0c-6d8e4f2b1a37",
                      "items": [
                        {
                          "set_number": 2,
                          "question": 0,
                          "outcome": "correct"
                        },
                        {
                          "set_number": 2,
                          "question": 3,
                          "outcome": "self_incorrect"
                        }
                      ],
                      "completed": false
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The event is recorded",
            "headers": {
              "Lingara-Version": {
                "$ref": "#/components/headers/LingaraVersion"
              },
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboundEventAccepted"
                },
                "example": {
                  "id": "lgr_evt_4f2a9c1e7b3d4e5f8a9b0c1d2e3f4a5b",
                  "type": "world.context_changed",
                  "created_at": "2026-10-01T09:12:44Z",
                  "reaction": {
                    "status": "started",
                    "plan_id": "3f1c2a9e-5b7d-4e21-9a0c-6d8e4f2b1a37",
                    "plan_status": "generating"
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "410": {
            "$ref": "#/components/responses/VersionDiscontinued"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/embed/tokens": {
      "parameters": [
        {
          "$ref": "#/components/parameters/LingaraVersion"
        }
      ],
      "post": {
        "operationId": "createEmbedToken",
        "tags": [
          "embed"
        ],
        "summary": "Mint a token for a player",
        "description": "Vouches for one of your players and returns a token your game or page uses for them for 15 minutes. The first token for a `player_ref` creates a learner for that player; later ones reuse it. Ask again when the token expires; it is never refreshed. Needs a `metered` client.",
        "security": [
          {
            "oauth2": [
              "embed:mint"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbedTokenRequest"
              },
              "example": {
                "player_ref": "player-1001",
                "scopes": [
                  "embed:play",
                  "lesson_plans:read",
                  "lesson_plans:write"
                ],
                "origin": "https://game.example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The player's token",
            "headers": {
              "Lingara-Version": {
                "$ref": "#/components/headers/LingaraVersion"
              },
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedToken"
                },
                "example": {
                  "token": "lgr_et_9fK2mQ7xR4tV1wY8zA3bC6dE0gH5jL2nP7sU4vX9yZ1",
                  "expires_at": "2026-10-01T09:27:44Z",
                  "expires_in": 900,
                  "subject": "lgr_sub_0f1e2d3c4b5a69788796a5b4c3d2e1f0",
                  "scopes": [
                    "lesson_plans:read",
                    "lesson_plans:write",
                    "embed:play"
                  ],
                  "account_linked": false
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/VersionDiscontinued"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/embed/players/{player_ref}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/LingaraVersion"
        }
      ],
      "delete": {
        "operationId": "deleteEmbedPlayer",
        "tags": [
          "embed"
        ],
        "summary": "Delete a player",
        "description": "Deletes one of your players and everything they made: their plans, their events and their live tokens. Safe to retry: an unknown `player_ref` answers `204` too.",
        "security": [
          {
            "oauth2": [
              "embed:mint"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PlayerRef"
          }
        ],
        "responses": {
          "204": {
            "description": "The player is gone",
            "headers": {
              "Lingara-Version": {
                "$ref": "#/components/headers/LingaraVersion"
              },
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/VersionDiscontinued"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/openapi.json": {
      "parameters": [
        {
          "$ref": "#/components/parameters/LingaraVersion"
        }
      ],
      "get": {
        "operationId": "getOpenApiDocument",
        "tags": [
          "reference"
        ],
        "summary": "Get this document",
        "description": "Returns this API description as JSON, for the API version the request is answered under: the one named in `Lingara-Version`, or else the current version. No token is needed.",
        "security": [],
        "responses": {
          "200": {
            "description": "The OpenAPI document",
            "headers": {
              "Lingara-Version": {
                "$ref": "#/components/headers/LingaraVersion"
              },
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/VersionDiscontinued"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/v1/asyncapi.json": {
      "parameters": [
        {
          "$ref": "#/components/parameters/LingaraVersion"
        }
      ],
      "get": {
        "operationId": "getAsyncApiDocument",
        "tags": [
          "reference"
        ],
        "summary": "Get the events document",
        "description": "Returns the AsyncAPI document that describes Lingara's events, for the API version the request is answered under: the one named in `Lingara-Version`, or else the current version. No token is needed.",
        "security": [],
        "responses": {
          "200": {
            "description": "The AsyncAPI document",
            "headers": {
              "Lingara-Version": {
                "$ref": "#/components/headers/LingaraVersion"
              },
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/VersionDiscontinued"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/v1/versions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/LingaraVersion"
        }
      ],
      "get": {
        "operationId": "listApiVersions",
        "tags": [
          "reference"
        ],
        "summary": "List API versions",
        "description": "Lists every API version in the order it was minted, with its `state`, when it was minted and, once deprecated, its sunset date. `current` is the newest supported or LTS version, and `development` is the one still growing; each is `null` until such a version exists. No token is needed. Responses may be cached for an hour.",
        "security": [],
        "responses": {
          "200": {
            "description": "Every API version",
            "headers": {
              "Lingara-Version": {
                "$ref": "#/components/headers/LingaraVersion"
              },
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionList"
                },
                "example": {
                  "current": "2026-10-brave-otter",
                  "development": "2026-11-quiet-lantern",
                  "versions": [
                    {
                      "id": "2026-10-gentle-heron",
                      "state": "deprecated",
                      "lts": true,
                      "minted_at": "2026-10-01T09:00:00Z",
                      "sunset_at": "2027-03-01T00:00:00Z"
                    },
                    {
                      "id": "2026-10-brave-otter",
                      "state": "supported",
                      "lts": false,
                      "minted_at": "2026-10-01T09:00:05Z",
                      "sunset_at": null
                    },
                    {
                      "id": "2026-11-quiet-lantern",
                      "state": "development",
                      "lts": false,
                      "minted_at": "2026-11-02T10:00:00Z",
                      "sunset_at": null
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/VersionDiscontinued"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/versions/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/LingaraVersion"
        }
      ],
      "get": {
        "operationId": "getApiVersion",
        "tags": [
          "reference"
        ],
        "summary": "Get an API version",
        "description": "Returns one API version with its full `history`, its `summary` (in English) and its `spec`. The document at `spec.url` is this version's only when requested with the `Lingara-Version` header set to its id. `spec.sha256` is the hash of its frozen document, and is `null` while the version is still in development. An unknown id answers `404`. No token is needed. Responses may be cached for an hour.",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/VersionId"
          }
        ],
        "responses": {
          "200": {
            "description": "The API version",
            "headers": {
              "Lingara-Version": {
                "$ref": "#/components/headers/LingaraVersion"
              },
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionDetail"
                },
                "example": {
                  "id": "2026-10-brave-otter",
                  "state": "supported",
                  "lts": false,
                  "minted_at": "2026-10-01T09:00:05Z",
                  "sunset_at": null,
                  "summary": "The first surface.",
                  "history": [
                    {
                      "state": "development",
                      "at": "2026-10-01T09:00:05Z"
                    },
                    {
                      "state": "supported",
                      "at": "2026-11-02T10:00:00Z"
                    }
                  ],
                  "spec": {
                    "url": "/v1/openapi.json",
                    "sha256": "3b7e0c1f9a2d4e5b6c7d8e9f0a1b2c3d4e5f60718293a4b5c6d7e8f9a0b1c2d3"
                  },
                  "asyncapi": {
                    "url": "/v1/asyncapi.json",
                    "sha256": null
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/VersionDiscontinued"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "5XX": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "An OAuth 2.0 access token, sent as `Authorization: Bearer <token>`. A server acting as itself exchanges its client's id and secret at the token URL (`client_credentials`). An app acting for a Lingara user who consents uses the authorization code (`authorization_code`) and then refreshes. A token lasts one hour. Each operation needs one scope.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.getlingara.com/oauth/token",
            "scopes": {
              "vocab:generate": "Generate vocabulary lists.",
              "lesson_plans:read": "Read your lesson plans and reconnect to their progress.",
              "lesson_plans:write": "Create lesson plans.",
              "tutor:converse": "Hold tutor conversations. Requires a paid plan.",
              "usage:read": "See your remaining allowance, or a `metered` client's usage this month.",
              "events:read": "Read events about your account, and register endpoints that receive them.",
              "events:write": "Send events from your game or integration to Lingara.",
              "embed:mint": "Mint short-lived tokens for your game's or site's players, and delete players. Metered clients only.",
              "embed:play": "Act for a player: send their practice results and hold NPC conversations with them."
            }
          },
          "authorizationCode": {
            "authorizationUrl": "https://app.getlingara.com/oauth/authorize",
            "tokenUrl": "https://api.getlingara.com/oauth/token",
            "refreshUrl": "https://api.getlingara.com/oauth/token",
            "scopes": {
              "vocab:generate": "Generate vocabulary lists.",
              "lesson_plans:read": "Read your lesson plans and reconnect to their progress.",
              "lesson_plans:write": "Create lesson plans.",
              "tutor:converse": "Hold tutor conversations. Requires a paid plan.",
              "usage:read": "See your remaining allowance, or a `metered` client's usage this month.",
              "events:read": "Read events about your account, and register endpoints that receive them.",
              "events:write": "Send events from your game or integration to Lingara.",
              "embed:mint": "Mint short-lived tokens for your game's or site's players, and delete players. Metered clients only.",
              "embed:play": "Act for a player: send their practice results and hold NPC conversations with them."
            }
          }
        }
      }
    },
    "parameters": {
      "PlanId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "VersionId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^\\d{4}-(0[1-9]|1[0-2])-[a-z]+-[a-z]+$"
        }
      },
      "LingaraVersion": {
        "name": "Lingara-Version",
        "in": "header",
        "required": false,
        "description": "The API version to answer this request under. Without it, an access token gets the version its client is pinned to, and a request with no token gets the current version. The version still in development is reached only by naming it here. An unknown version answers `400` with code `api_version_unknown`. `GET /v1/versions` lists the versions.",
        "schema": {
          "type": "string",
          "pattern": "^\\d{4}-(0[1-9]|1[0-2])-[a-z]+-[a-z]+$"
        }
      },
      "EventCursor": {
        "name": "cursor",
        "in": "query",
        "required": false,
        "description": "Where to continue from: an earlier page's `next_cursor`, or a stream event's `id:`. A cursor older than 30 days answers `410` with code `cursor_expired`.",
        "schema": {
          "type": "string"
        }
      },
      "EventStart": {
        "name": "start",
        "in": "query",
        "required": false,
        "description": "Where to begin without a cursor: `latest` for events from now on, or `oldest` for every event still kept.",
        "schema": {
          "type": "string",
          "enum": [
            "latest",
            "oldest"
          ],
          "default": "latest"
        }
      },
      "EventTypes": {
        "name": "types",
        "in": "query",
        "required": false,
        "style": "form",
        "explode": false,
        "description": "Only these event types, comma-separated. Without it, every type your token's scopes can read.",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "EventLimit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "The most events one page returns, from 1 to 100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 50
        }
      },
      "LastEventId": {
        "name": "Last-Event-ID",
        "in": "header",
        "required": false,
        "description": "The `id:` of the last event you received. It takes precedence over `cursor` and `start`.",
        "schema": {
          "type": "string"
        }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "description": "A value you choose for each event and reuse when you retry it: 1 to 255 visible ASCII characters, such as a UUID. A retry with the same key gets the first answer back and is not billed again, even if its body differs. Without a valid key the request answers `400` with code `idempotency_key_required`.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 255,
          "pattern": "^[\\x21-\\x7E]+$"
        }
      },
      "PlayerRef": {
        "name": "player_ref",
        "in": "path",
        "required": true,
        "description": "The `player_ref` you minted the player's tokens with, percent-encoded: `guild/42` is `guild%2F42`.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        }
      }
    },
    "headers": {
      "LingaraVersion": {
        "description": "The API version this response was answered under. Absent until the first version is frozen.",
        "schema": {
          "type": "string"
        }
      },
      "Deprecation": {
        "description": "When this response's API version was deprecated, as `@` followed by Unix seconds. Present only on a deprecated version.",
        "schema": {
          "type": "string"
        }
      },
      "Sunset": {
        "description": "The date from which this response's API version may be discontinued. Present only on a deprecated version.",
        "schema": {
          "type": "string"
        }
      },
      "Link": {
        "description": "A link, with relation `deprecation`, to this API version's details. Present only on a deprecated version.",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "The request was refused. `code` says why, and `error` says it in words.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "A metered client's call was refused before it spent anything. `spend_cap_reached`: the client or its account has reached its monthly spending limit; raise the limit on the Integrations page. `metered_billing_inactive`: usage billing is not active for this account; set it up, or update the payment method, on the Integrations page.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "VersionDiscontinued": {
        "description": "The API version this request is answered under has been discontinued. Send a supported version in `Lingara-Version`, or re-pin the client.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Gone": {
        "description": "`api_version_discontinued`: this request's API version has been discontinued. `cursor_expired`: the cursor is older than 30 days; start again without one.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unavailable": {
        "description": "The service is temporarily unavailable; retry after the number of seconds in `Retry-After`. During maintenance the body is plain text rather than the error envelope.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          },
          "text/plain": {
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "schemas": {
      "VocabRequest": {
        "type": "object",
        "properties": {
          "level": {
            "type": "integer",
            "format": "uint8",
            "minimum": 0,
            "maximum": 255
          },
          "source_lang": {
            "type": "string"
          },
          "target_lang": {
            "type": "string"
          },
          "count": {
            "type": [
              "integer",
              "null"
            ],
            "format": "uint8",
            "minimum": 1,
            "maximum": 20
          }
        },
        "required": [
          "level",
          "source_lang",
          "target_lang"
        ]
      },
      "LessonPlanCreateRequest": {
        "type": "object",
        "properties": {
          "context": {
            "type": "string"
          },
          "source_lang": {
            "type": "string"
          },
          "target_lang": {
            "type": "string"
          },
          "level": {
            "type": "integer",
            "format": "uint8",
            "minimum": 0,
            "maximum": 255
          }
        },
        "required": [
          "context",
          "source_lang",
          "target_lang",
          "level"
        ]
      },
      "TutorTurnRequest": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "history": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TurnEntry"
            },
            "default": []
          },
          "source_lang": {
            "type": "string"
          },
          "target_lang": {
            "type": "string"
          },
          "level": {
            "type": [
              "integer",
              "null"
            ],
            "format": "uint8",
            "minimum": 0,
            "maximum": 255
          },
          "character": {
            "type": [
              "string",
              "null"
            ]
          },
          "situation": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "message",
          "source_lang",
          "target_lang"
        ]
      },
      "TurnEntry": {
        "type": "object",
        "properties": {
          "role": {
            "$ref": "#/components/schemas/TurnRole"
          },
          "content": {
            "type": "string"
          }
        },
        "required": [
          "role",
          "content"
        ]
      },
      "TurnRole": {
        "type": "string",
        "enum": [
          "user",
          "assistant"
        ]
      },
      "VocabStarted": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/VocabMeta"
          }
        },
        "required": [
          "meta"
        ]
      },
      "VocabMeta": {
        "type": "object",
        "properties": {
          "level": {
            "type": "integer",
            "format": "uint8",
            "minimum": 0,
            "maximum": 255
          },
          "source_lang": {
            "type": "string"
          },
          "target_lang": {
            "type": "string"
          },
          "framework": {
            "type": "string"
          },
          "count": {
            "type": "integer",
            "format": "uint32",
            "minimum": 0
          },
          "ai_generated": {
            "type": "boolean"
          }
        },
        "required": [
          "level",
          "source_lang",
          "target_lang",
          "framework",
          "count",
          "ai_generated"
        ]
      },
      "VocabItem": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string"
          },
          "pronunciation": {
            "type": [
              "string",
              "null"
            ]
          },
          "reading": {
            "type": [
              "string",
              "null"
            ]
          },
          "translation": {
            "type": "string"
          },
          "example": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/VocabExample"
              },
              {
                "type": "null"
              }
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "word",
          "translation"
        ]
      },
      "VocabExample": {
        "type": "object",
        "properties": {
          "sentence": {
            "type": "string"
          },
          "translation": {
            "type": "string"
          }
        },
        "required": [
          "sentence",
          "translation"
        ]
      },
      "LessonPlan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/PlanStatus"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_lang": {
            "type": "string"
          },
          "target_lang": {
            "type": "string"
          },
          "level": {
            "type": "integer",
            "format": "uint8",
            "minimum": 0,
            "maximum": 255
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "ai_generated": {
            "type": "boolean"
          },
          "content": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/LessonPlanContent"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "status",
          "source_lang",
          "target_lang",
          "level",
          "created_at",
          "ai_generated"
        ]
      },
      "PlanStatus": {
        "type": "string",
        "enum": [
          "generating",
          "partial",
          "complete"
        ]
      },
      "LessonPlanContent": {
        "type": "object",
        "properties": {
          "introduction": {
            "type": [
              "string",
              "null"
            ]
          },
          "learning_objectives": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "vocabulary": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanWord"
            }
          },
          "sets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanSet"
            }
          }
        },
        "required": [
          "learning_objectives",
          "vocabulary",
          "sets"
        ]
      },
      "PlanWord": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string"
          },
          "pronunciation": {
            "type": [
              "string",
              "null"
            ]
          },
          "translation": {
            "type": "string"
          }
        },
        "required": [
          "word",
          "translation"
        ]
      },
      "PlanSet": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer",
            "format": "uint8",
            "minimum": 0,
            "maximum": 255
          },
          "context": {
            "type": [
              "string",
              "null"
            ]
          },
          "questions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanQuestion"
            }
          }
        },
        "required": [
          "number",
          "questions"
        ]
      },
      "PlanQuestion": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "options": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "answer": {
            "type": "string"
          },
          "explanation": {
            "type": "string"
          },
          "hint": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "type",
          "prompt",
          "answer",
          "explanation"
        ]
      },
      "PlanStarted": {
        "type": "object",
        "properties": {
          "plan_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "plan_id"
        ]
      },
      "PlanPhase": {
        "type": "object",
        "properties": {
          "phase": {
            "type": "string"
          },
          "attempt": {
            "type": "integer",
            "format": "uint8",
            "minimum": 0,
            "maximum": 255
          }
        },
        "required": [
          "phase",
          "attempt"
        ]
      },
      "PlanResult": {
        "type": "object",
        "properties": {
          "plan": {
            "$ref": "#/components/schemas/LessonPlan"
          }
        },
        "required": [
          "plan"
        ]
      },
      "PlanPending": {
        "type": "object",
        "properties": {
          "plan_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/PlanStatus"
          }
        },
        "required": [
          "plan_id",
          "status"
        ]
      },
      "TurnDelta": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          }
        },
        "required": [
          "text"
        ]
      },
      "Usage": {
        "type": "object",
        "properties": {
          "allowance": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AllowanceRow"
            }
          },
          "ledger": {
            "description": "This client's calls and units since midnight UTC on the first of the month. Present only for a metered client, whose calls spend no allowance. It can trail your latest call by up to five seconds.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/UsageLedger"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "allowance"
        ]
      },
      "UsageLedger": {
        "type": "object",
        "properties": {
          "since": {
            "type": "string",
            "format": "date-time"
          },
          "calls": {
            "type": "integer",
            "format": "uint64",
            "minimum": 0
          },
          "units": {
            "type": "integer",
            "format": "uint64",
            "minimum": 0
          }
        },
        "required": [
          "since",
          "calls",
          "units"
        ]
      },
      "AllowanceRow": {
        "type": "object",
        "properties": {
          "feature": {
            "type": "string"
          },
          "window": {
            "type": "string"
          },
          "limit": {
            "type": "integer",
            "format": "uint32",
            "minimum": 0
          },
          "used": {
            "type": "integer",
            "format": "uint32",
            "minimum": 0
          },
          "remaining": {
            "type": "integer",
            "format": "uint32",
            "minimum": 0
          },
          "reset_at": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          }
        },
        "required": [
          "feature",
          "window",
          "limit",
          "used",
          "remaining"
        ]
      },
      "VersionList": {
        "type": "object",
        "properties": {
          "current": {
            "type": [
              "string",
              "null"
            ]
          },
          "development": {
            "type": [
              "string",
              "null"
            ]
          },
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VersionSummary"
            }
          }
        },
        "required": [
          "current",
          "development",
          "versions"
        ]
      },
      "VersionSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "state": {
            "$ref": "#/components/schemas/VersionState"
          },
          "lts": {
            "type": "boolean"
          },
          "minted_at": {
            "type": "string",
            "format": "date-time"
          },
          "sunset_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "state",
          "lts",
          "minted_at",
          "sunset_at"
        ]
      },
      "VersionDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "state": {
            "$ref": "#/components/schemas/VersionState"
          },
          "lts": {
            "type": "boolean"
          },
          "minted_at": {
            "type": "string",
            "format": "date-time"
          },
          "sunset_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "summary": {
            "type": [
              "string",
              "null"
            ]
          },
          "history": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VersionHistoryEntry"
            }
          },
          "spec": {
            "$ref": "#/components/schemas/VersionSpec"
          },
          "asyncapi": {
            "$ref": "#/components/schemas/VersionSpec"
          }
        },
        "required": [
          "id",
          "state",
          "lts",
          "minted_at",
          "sunset_at",
          "summary",
          "history",
          "spec",
          "asyncapi"
        ]
      },
      "VersionState": {
        "type": "string",
        "enum": [
          "development",
          "supported",
          "lts",
          "deprecated",
          "discontinued"
        ]
      },
      "VersionHistoryEntry": {
        "type": "object",
        "properties": {
          "state": {
            "$ref": "#/components/schemas/VersionState"
          },
          "at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "state",
          "at"
        ]
      },
      "VersionSpec": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "sha256": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "url",
          "sha256"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Why the request was refused, as a stable code to branch on: for example `insufficient_scope` (`403`), `rate_limited` (`429`) and, for a metered client, `spend_cap_reached` (`402`) and `metered_billing_inactive` (`402`)."
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "error"
        ]
      },
      "Notice": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "StreamError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "plan_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "Done": {
        "type": "object"
      },
      "EventEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "api_version": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "id",
          "type",
          "created_at",
          "api_version",
          "subject",
          "data"
        ]
      },
      "LessonPlanReadyData": {
        "type": "object",
        "properties": {
          "plan_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/PlanReadyStatus"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_lang": {
            "type": "string"
          },
          "target_lang": {
            "type": "string"
          },
          "level": {
            "type": "integer",
            "format": "int16",
            "minimum": -32768,
            "maximum": 32767
          }
        },
        "required": [
          "plan_id",
          "status",
          "title",
          "source_lang",
          "target_lang",
          "level"
        ]
      },
      "PlanReadyStatus": {
        "type": "string",
        "enum": [
          "complete",
          "partial"
        ]
      },
      "LessonPlanFailedData": {
        "type": "object",
        "properties": {
          "plan_id": {
            "type": "string",
            "format": "uuid"
          },
          "reason": {
            "$ref": "#/components/schemas/PlanFailReason"
          }
        },
        "required": [
          "plan_id",
          "reason"
        ]
      },
      "PlanFailReason": {
        "type": "string",
        "enum": [
          "generation_failed",
          "timed_out"
        ]
      },
      "UsageThresholdReachedData": {
        "type": "object",
        "properties": {
          "scope": {
            "$ref": "#/components/schemas/ThresholdScope"
          },
          "threshold_pct": {
            "type": "integer",
            "enum": [
              50,
              70,
              90,
              100
            ]
          },
          "month": {
            "type": "string"
          },
          "client_id": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "scope",
          "threshold_pct",
          "month"
        ]
      },
      "ThresholdScope": {
        "type": "string",
        "enum": [
          "account",
          "client"
        ]
      },
      "WebhookTestData": {
        "type": "object"
      },
      "AppInstalledData": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "install_id": {
            "type": "string",
            "format": "uuid"
          },
          "context": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppContextSlice"
            }
          },
          "tutor_note": {
            "type": "boolean"
          }
        },
        "required": [
          "client_id",
          "install_id",
          "context",
          "tutor_note"
        ]
      },
      "AppUninstalledData": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "install_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "client_id",
          "install_id"
        ]
      },
      "AppDisabledData": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "install_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "client_id",
          "install_id"
        ]
      },
      "AppEnabledData": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "install_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "client_id",
          "install_id"
        ]
      },
      "AppContextSlice": {
        "type": "string",
        "enum": [
          "languages",
          "plan_summary",
          "review_due",
          "tutor_topic"
        ]
      },
      "EventPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventEnvelope"
            }
          },
          "next_cursor": {
            "type": "string"
          },
          "has_more": {
            "type": "boolean"
          }
        },
        "required": [
          "items",
          "next_cursor",
          "has_more"
        ]
      },
      "WorldContextChanged": {
        "type": "object",
        "properties": {
          "scene": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "npc": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Npc"
              },
              {
                "type": "null"
              }
            ]
          },
          "source_lang": {
            "type": "string"
          },
          "target_lang": {
            "type": "string"
          },
          "level": {
            "type": "integer",
            "format": "uint8",
            "minimum": 1,
            "maximum": 9
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 24,
              "pattern": "^[a-z0-9][a-z0-9._-]*$"
            },
            "maxItems": 8
          },
          "generate": {
            "type": [
              "boolean",
              "null"
            ]
          }
        },
        "required": [
          "scene",
          "source_lang",
          "target_lang",
          "level"
        ]
      },
      "WorldPracticeRequested": {
        "type": "object",
        "properties": {
          "topic": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "source_lang": {
            "type": "string"
          },
          "target_lang": {
            "type": "string"
          },
          "level": {
            "type": "integer",
            "format": "uint8",
            "minimum": 1,
            "maximum": 9
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 24,
              "pattern": "^[a-z0-9][a-z0-9._-]*$"
            },
            "maxItems": 8
          },
          "generate": {
            "type": [
              "boolean",
              "null"
            ]
          }
        },
        "required": [
          "topic",
          "source_lang",
          "target_lang",
          "level"
        ]
      },
      "Npc": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32
          },
          "persona": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 120
          }
        },
        "required": [
          "name"
        ]
      },
      "WorldPracticeCompleted": {
        "type": "object",
        "properties": {
          "plan_id": {
            "type": "string",
            "format": "uuid"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PracticeItem"
            },
            "minItems": 1,
            "maxItems": 100
          },
          "completed": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "plan_id",
          "items"
        ]
      },
      "PracticeItem": {
        "type": "object",
        "properties": {
          "set_number": {
            "type": "integer",
            "format": "uint8",
            "minimum": 1,
            "maximum": 255
          },
          "question": {
            "type": "integer",
            "format": "uint8",
            "minimum": 0,
            "maximum": 255
          },
          "outcome": {
            "$ref": "#/components/schemas/PracticeOutcome"
          }
        },
        "required": [
          "set_number",
          "question",
          "outcome"
        ]
      },
      "PracticeOutcome": {
        "type": "string",
        "enum": [
          "correct",
          "incorrect",
          "revealed",
          "self_correct",
          "self_incorrect",
          "skipped"
        ]
      },
      "PracticeCompletedData": {
        "type": "object",
        "properties": {
          "plan_id": {
            "type": "string",
            "format": "uuid"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PracticeItem"
            }
          },
          "completed": {
            "type": "boolean"
          }
        },
        "required": [
          "plan_id",
          "items",
          "completed"
        ]
      },
      "InboundEventAccepted": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "reaction": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ReactionReport"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "created_at"
        ]
      },
      "ReactionReport": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/ReactionStatus"
          },
          "plan_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "plan_status": {
            "description": "The plan's status when the event was accepted. Only `generating` promises that `lesson_plan.ready` or `lesson_plan.failed` will follow. Any other value is a plan served from the library, which you can read now with `GET /v1/lesson-plans/{id}`.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/PlanStatus"
              },
              {
                "type": "null"
              }
            ]
          },
          "code": {
            "type": [
              "string",
              "null"
            ]
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "status"
        ]
      },
      "ReactionStatus": {
        "type": "string",
        "enum": [
          "started",
          "refused",
          "failed"
        ]
      },
      "EmbedTokenRequest": {
        "type": "object",
        "properties": {
          "player_ref": {
            "description": "Your own reference for the player: 1 to 128 bytes of UTF-8, with no control characters. Lingara stores only a hash of it.",
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "scopes": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string",
              "enum": [
                "events:read",
                "events:write",
                "lesson_plans:read",
                "lesson_plans:write",
                "embed:play"
              ]
            },
            "maxItems": 5,
            "uniqueItems": true
          },
          "origin": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255,
            "pattern": "^https?://[^/?#@ ]+$"
          }
        },
        "additionalProperties": false,
        "required": [
          "player_ref"
        ]
      },
      "EmbedToken": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_in": {
            "description": "Seconds until the token expires, counted from this answer. Use it when the device's clock cannot be trusted.",
            "type": "integer",
            "format": "uint32",
            "minimum": 0
          },
          "subject": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "account_linked": {
            "type": "boolean"
          }
        },
        "required": [
          "token",
          "expires_at",
          "expires_in",
          "subject",
          "scopes",
          "account_linked"
        ]
      },
      "DialogueTurnRequest": {
        "type": "object",
        "properties": {
          "npc": {
            "$ref": "#/components/schemas/Npc"
          },
          "scene": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 160
          },
          "source_lang": {
            "type": "string"
          },
          "target_lang": {
            "type": "string"
          },
          "level": {
            "type": "integer",
            "format": "uint8",
            "minimum": 1,
            "maximum": 9
          },
          "line": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "history": {
            "description": "The conversation so far, oldest first, at most 12 lines. You keep the window: Lingara stores nothing between turns. Send each NPC reply back cut to its first 500 characters.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DialogueEntry"
            },
            "maxItems": 12,
            "default": []
          }
        },
        "required": [
          "npc",
          "source_lang",
          "target_lang",
          "level",
          "line"
        ]
      },
      "DialogueEntry": {
        "type": "object",
        "properties": {
          "speaker": {
            "$ref": "#/components/schemas/Speaker"
          },
          "text": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          }
        },
        "required": [
          "speaker",
          "text"
        ]
      },
      "Speaker": {
        "type": "string",
        "enum": [
          "player",
          "npc"
        ]
      },
      "GenerateVocabularyEventStarted": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "started"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/VocabStarted"
          }
        }
      },
      "GenerateVocabularyEventItem": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "item"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/VocabItem"
          }
        }
      },
      "GenerateVocabularyEventDone": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "done"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/Done"
          }
        }
      },
      "GenerateVocabularyEventError": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/StreamError"
          }
        }
      },
      "GenerateVocabularyEvent": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/GenerateVocabularyEventStarted"
          },
          {
            "$ref": "#/components/schemas/GenerateVocabularyEventItem"
          },
          {
            "$ref": "#/components/schemas/GenerateVocabularyEventDone"
          },
          {
            "$ref": "#/components/schemas/GenerateVocabularyEventError"
          }
        ],
        "discriminator": {
          "propertyName": "event",
          "mapping": {
            "started": "#/components/schemas/GenerateVocabularyEventStarted",
            "item": "#/components/schemas/GenerateVocabularyEventItem",
            "done": "#/components/schemas/GenerateVocabularyEventDone",
            "error": "#/components/schemas/GenerateVocabularyEventError"
          }
        }
      },
      "CreateLessonPlanEventStarted": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "started"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/PlanStarted"
          }
        }
      },
      "CreateLessonPlanEventPhase": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "phase"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/PlanPhase"
          }
        }
      },
      "CreateLessonPlanEventResult": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "result"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/PlanResult"
          }
        }
      },
      "CreateLessonPlanEventError": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/StreamError"
          }
        }
      },
      "CreateLessonPlanEvent": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CreateLessonPlanEventStarted"
          },
          {
            "$ref": "#/components/schemas/CreateLessonPlanEventPhase"
          },
          {
            "$ref": "#/components/schemas/CreateLessonPlanEventResult"
          },
          {
            "$ref": "#/components/schemas/CreateLessonPlanEventError"
          }
        ],
        "discriminator": {
          "propertyName": "event",
          "mapping": {
            "started": "#/components/schemas/CreateLessonPlanEventStarted",
            "phase": "#/components/schemas/CreateLessonPlanEventPhase",
            "result": "#/components/schemas/CreateLessonPlanEventResult",
            "error": "#/components/schemas/CreateLessonPlanEventError"
          }
        }
      },
      "StreamLessonPlanEventStarted": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "started"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/PlanStarted"
          }
        }
      },
      "StreamLessonPlanEventPhase": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "phase"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/PlanPhase"
          }
        }
      },
      "StreamLessonPlanEventResult": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "result"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/PlanResult"
          }
        }
      },
      "StreamLessonPlanEventPending": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "pending"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/PlanPending"
          }
        }
      },
      "StreamLessonPlanEventError": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/StreamError"
          }
        }
      },
      "StreamLessonPlanEvent": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/StreamLessonPlanEventStarted"
          },
          {
            "$ref": "#/components/schemas/StreamLessonPlanEventPhase"
          },
          {
            "$ref": "#/components/schemas/StreamLessonPlanEventResult"
          },
          {
            "$ref": "#/components/schemas/StreamLessonPlanEventPending"
          },
          {
            "$ref": "#/components/schemas/StreamLessonPlanEventError"
          }
        ],
        "discriminator": {
          "propertyName": "event",
          "mapping": {
            "started": "#/components/schemas/StreamLessonPlanEventStarted",
            "phase": "#/components/schemas/StreamLessonPlanEventPhase",
            "result": "#/components/schemas/StreamLessonPlanEventResult",
            "pending": "#/components/schemas/StreamLessonPlanEventPending",
            "error": "#/components/schemas/StreamLessonPlanEventError"
          }
        }
      },
      "SendTutorMessageEventDelta": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "delta"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/TurnDelta"
          }
        }
      },
      "SendTutorMessageEventNotice": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "notice"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/Notice"
          }
        }
      },
      "SendTutorMessageEventDone": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "done"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/Done"
          }
        }
      },
      "SendTutorMessageEventError": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/StreamError"
          }
        }
      },
      "SendTutorMessageEvent": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SendTutorMessageEventDelta"
          },
          {
            "$ref": "#/components/schemas/SendTutorMessageEventNotice"
          },
          {
            "$ref": "#/components/schemas/SendTutorMessageEventDone"
          },
          {
            "$ref": "#/components/schemas/SendTutorMessageEventError"
          }
        ],
        "discriminator": {
          "propertyName": "event",
          "mapping": {
            "delta": "#/components/schemas/SendTutorMessageEventDelta",
            "notice": "#/components/schemas/SendTutorMessageEventNotice",
            "done": "#/components/schemas/SendTutorMessageEventDone",
            "error": "#/components/schemas/SendTutorMessageEventError"
          }
        }
      },
      "StreamEventsEventEvent": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/EventEnvelope"
          }
        }
      },
      "StreamEventsEventDone": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "done"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/Done"
          }
        }
      },
      "StreamEventsEventError": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/StreamError"
          }
        }
      },
      "StreamEventsEvent": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/StreamEventsEventEvent"
          },
          {
            "$ref": "#/components/schemas/StreamEventsEventDone"
          },
          {
            "$ref": "#/components/schemas/StreamEventsEventError"
          }
        ],
        "discriminator": {
          "propertyName": "event",
          "mapping": {
            "event": "#/components/schemas/StreamEventsEventEvent",
            "done": "#/components/schemas/StreamEventsEventDone",
            "error": "#/components/schemas/StreamEventsEventError"
          }
        }
      },
      "SendDialogueTurnEventDelta": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "delta"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/TurnDelta"
          }
        }
      },
      "SendDialogueTurnEventNotice": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "notice"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/Notice"
          }
        }
      },
      "SendDialogueTurnEventDone": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "done"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/Done"
          }
        }
      },
      "SendDialogueTurnEventError": {
        "type": "object",
        "required": [
          "event",
          "data"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/StreamError"
          }
        }
      },
      "SendDialogueTurnEvent": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SendDialogueTurnEventDelta"
          },
          {
            "$ref": "#/components/schemas/SendDialogueTurnEventNotice"
          },
          {
            "$ref": "#/components/schemas/SendDialogueTurnEventDone"
          },
          {
            "$ref": "#/components/schemas/SendDialogueTurnEventError"
          }
        ],
        "discriminator": {
          "propertyName": "event",
          "mapping": {
            "delta": "#/components/schemas/SendDialogueTurnEventDelta",
            "notice": "#/components/schemas/SendDialogueTurnEventNotice",
            "done": "#/components/schemas/SendDialogueTurnEventDone",
            "error": "#/components/schemas/SendDialogueTurnEventError"
          }
        }
      }
    }
  },
  "x-lingara-streams": [
    {
      "operationId": "generateVocabulary",
      "method": "post",
      "path": "/v1/vocab/stream",
      "requestBody": "#/components/schemas/VocabRequest",
      "parameters": [
        "#/components/parameters/LingaraVersion"
      ],
      "scopes": [
        "vocab:generate"
      ],
      "union": "GenerateVocabularyEvent",
      "events": [
        "started",
        "item",
        "done",
        "error"
      ],
      "endsOn": [
        "done",
        "error"
      ],
      "error": "error",
      "keepaliveSeconds": 15,
      "resumable": false
    },
    {
      "operationId": "createLessonPlan",
      "method": "post",
      "path": "/v1/lesson-plans",
      "requestBody": "#/components/schemas/LessonPlanCreateRequest",
      "parameters": [
        "#/components/parameters/LingaraVersion"
      ],
      "scopes": [
        "lesson_plans:write"
      ],
      "union": "CreateLessonPlanEvent",
      "events": [
        "started",
        "phase",
        "result",
        "error"
      ],
      "endsOn": [
        "result",
        "error"
      ],
      "error": "error",
      "keepaliveSeconds": 15,
      "resumable": false
    },
    {
      "operationId": "streamLessonPlan",
      "method": "get",
      "path": "/v1/lesson-plans/{id}/stream",
      "requestBody": null,
      "parameters": [
        "#/components/parameters/LingaraVersion",
        "#/components/parameters/PlanId"
      ],
      "scopes": [
        "lesson_plans:read"
      ],
      "union": "StreamLessonPlanEvent",
      "events": [
        "started",
        "phase",
        "result",
        "pending",
        "error"
      ],
      "endsOn": [
        "result",
        "pending",
        "error"
      ],
      "error": "error",
      "keepaliveSeconds": 15,
      "resumable": false
    },
    {
      "operationId": "sendTutorMessage",
      "method": "post",
      "path": "/v1/tutor/message",
      "requestBody": "#/components/schemas/TutorTurnRequest",
      "parameters": [
        "#/components/parameters/LingaraVersion"
      ],
      "scopes": [
        "tutor:converse"
      ],
      "union": "SendTutorMessageEvent",
      "events": [
        "delta",
        "notice",
        "done",
        "error"
      ],
      "endsOn": [
        "done",
        "error"
      ],
      "error": "error",
      "keepaliveSeconds": null,
      "resumable": false
    },
    {
      "operationId": "streamEvents",
      "method": "get",
      "path": "/v1/events/stream",
      "requestBody": null,
      "parameters": [
        "#/components/parameters/LingaraVersion",
        "#/components/parameters/LastEventId",
        "#/components/parameters/EventCursor",
        "#/components/parameters/EventStart",
        "#/components/parameters/EventTypes"
      ],
      "scopes": [
        "events:read"
      ],
      "union": "StreamEventsEvent",
      "events": [
        "event",
        "done",
        "error"
      ],
      "endsOn": [
        "done",
        "error"
      ],
      "error": "error",
      "keepaliveSeconds": 15,
      "resumable": true
    },
    {
      "operationId": "sendDialogueTurn",
      "method": "post",
      "path": "/v1/embed/dialogue/turns",
      "requestBody": "#/components/schemas/DialogueTurnRequest",
      "parameters": [
        "#/components/parameters/LingaraVersion"
      ],
      "scopes": [
        "embed:play"
      ],
      "union": "SendDialogueTurnEvent",
      "events": [
        "delta",
        "notice",
        "done",
        "error"
      ],
      "endsOn": [
        "done",
        "error"
      ],
      "error": "error",
      "keepaliveSeconds": null,
      "resumable": false
    }
  ],
  "x-lingara-events": [
    {
      "type": "lesson_plan.ready",
      "direction": "out",
      "arm": "LessonPlanReady",
      "data": "#/components/schemas/LessonPlanReadyData",
      "transports": [
        "feed",
        "stream",
        "webhook"
      ]
    },
    {
      "type": "lesson_plan.failed",
      "direction": "out",
      "arm": "LessonPlanFailed",
      "data": "#/components/schemas/LessonPlanFailedData",
      "transports": [
        "feed",
        "stream",
        "webhook"
      ]
    },
    {
      "type": "usage.threshold_reached",
      "direction": "out",
      "arm": "UsageThresholdReached",
      "data": "#/components/schemas/UsageThresholdReachedData",
      "transports": [
        "feed",
        "stream",
        "webhook"
      ]
    },
    {
      "type": "webhook.test",
      "direction": "out",
      "arm": "WebhookTest",
      "data": "#/components/schemas/WebhookTestData",
      "transports": [
        "webhook"
      ]
    },
    {
      "type": "app.installed",
      "direction": "out",
      "arm": "AppInstalled",
      "data": "#/components/schemas/AppInstalledData",
      "transports": [
        "feed",
        "stream",
        "webhook"
      ]
    },
    {
      "type": "app.uninstalled",
      "direction": "out",
      "arm": "AppUninstalled",
      "data": "#/components/schemas/AppUninstalledData",
      "transports": [
        "feed",
        "stream",
        "webhook"
      ]
    },
    {
      "type": "app.disabled",
      "direction": "out",
      "arm": "AppDisabled",
      "data": "#/components/schemas/AppDisabledData",
      "transports": [
        "feed",
        "stream",
        "webhook"
      ]
    },
    {
      "type": "app.enabled",
      "direction": "out",
      "arm": "AppEnabled",
      "data": "#/components/schemas/AppEnabledData",
      "transports": [
        "feed",
        "stream",
        "webhook"
      ]
    },
    {
      "type": "world.context_changed",
      "direction": "in",
      "data": "#/components/schemas/WorldContextChanged",
      "transports": [
        "inbound"
      ]
    },
    {
      "type": "world.practice_requested",
      "direction": "in",
      "data": "#/components/schemas/WorldPracticeRequested",
      "transports": [
        "inbound"
      ]
    },
    {
      "type": "world.practice_completed",
      "direction": "in",
      "data": "#/components/schemas/WorldPracticeCompleted",
      "transports": [
        "inbound"
      ]
    },
    {
      "type": "practice.completed",
      "direction": "out",
      "arm": "PracticeCompleted",
      "data": "#/components/schemas/PracticeCompletedData",
      "transports": [
        "feed",
        "stream",
        "webhook"
      ]
    }
  ]
}
